{% extends "base.html" %}

{% block content %}
{% if connection_list %}
    <table>
        <tr>
            <td>Nom</td>
            <td>host</td>
            <td>user</td>
        </tr>
    {% for connection in connection_list %}
        <tr>
            <td>
                <a href="/connection/{{ connection.name }}/">{{ connection.name }}</a>
            </td>
            <td>
                {{ connection.host }}
            </td>
            <td>
                {{ connection.user }}
            </td>
        </tr>
    {% endfor %}
    </table>
{% else %}
    <p>No connections are available.</p>
{% endif %}
{% endblock %}