{% extends "connection/base_site.html" %}
{% load i18n static %}

{% block content %}
{% if connection_list %}
    {% if connection_list_size == max_rows %}
    <p class="warning">{% trans 'Attention: nombre maximum d\'enregistrements sélectionnés atteint' %} ({{ max_rows }})</p>
    {% endif %}
    <div id="table">
    <table>
        <tr>
            <th>{% trans 'Nom' %}</th>
            <th>{% trans 'Serveur' %}</th>
            <th>{% trans 'Utilisateur' %}</th>
            <th>{% trans 'Port' %}</th>
            <th>{% trans 'Protocole' %}</th>
            <th>{% trans 'Destruction fichier' %}</th>
        </tr>
    {% for connection in connection_list %}
        <tr>
            <td>
                <a href="/connection/{{ connection.name }}/">{{ connection.name }}</a>
            </td>
            <td>
                {{ connection.host }}
            </td>
            <td>
                {{ connection.user }}
            </td>
            <td>
                {{ connection.port }}
            </td>
            <td>
                {{ connection.protocol }}
            </td>
            <td>
                {{ connection.deleteflag }}
            </td>
        </tr>
    {% endfor %}
    </table>
    </div>
{% else %}
    <p>{% trans 'pas de connexion disponibles.' %}</p>
{% endif %}
{% endblock %}