{% extends "connection/base_site.html" %}

{% block content %}
{% if connection_list %}
    <div id="table">
    <table>
        <tr>
            <th>Nom</th>
            <th>Host</th>
            <th>User</th>
            <th>Post</th>
            <th>Protocol</th>
            <th>Delete Flag</th>
        </tr>
    {% for connection in connection_list %}
        <tr>
            <td>
                <a href="/connection/{{ connection.name }}/">{{ connection.name }}</a>
            </td>
            <td>
                {{ connection.host }}
            </td>
            <td>
                {{ connection.user }}
            </td>
            <td>
                {{ connection.host }}
            </td>
            <td>
                {{ connection.protocol }}
            </td>
            <td>
                {{ connection.deleteflag }}
            </td>
        </tr>
    {% endfor %}
    </table>
    </div>
{% else %}
    <p>No connections are available.</p>
{% endif %}
{% endblock %}